<a href="https://colab.research.google.com/github/vishnuvardhan-g/Python_tasks/blob/main/Python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
a=10
type (a)

int

In [ ]:
b='rome'
type(b)

str

In [ ]:
b

'rome'

In [ ]:
c,d=15,'jhon'
print(c,d)

15 jhon

In [ ]:
a=1.3454566
type(a)

float

In [ ]:
d=True
f=False
type(d)

bool

In [ ]:
print(True + True + True +False + True )

4

In [ ]:
print(False - True + True )

0

In [ ]:
True / False

ZeroDivisionError: division by zero

In [ ]:
n = 45 + 6j
type (n)

complex

In [ ]:
n,imag

NameError: name 'imag' is not defined

In [ ]:
j =35+16m

SyntaxError: invalid decimal literal (<ipython-input-31-679a7029c249>, line 1)

In [ ]:
b = 16+22j
c = 22+55j
print(b+c)
print(b*c)

(38+77j)
(-858+1364j)

In [ ]:
1+"jhon"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
#concatination
print(str(1)+"jhon")
print('1'+"jhon")

1jhon
1jhon

In [ ]:
1+1.0

2.0

In [ ]:
'one' + 'one' + 'one'

'oneoneone'

In [ ]:
'one'*3

'oneoneone'

In [ ]:
'once'*'once'

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
a=input()

robb

In [ ]:
a

'robb'

In [ ]:
a = int(input("Enter integer a :"))
b = int(input("Enter integer b :"))
c = int(input("Enter integer c :"))

e = (a+b)/c

f= e+(1+2j)

g= str(f) +" Name"

print(g)

KeyboardInterrupt: Interrupted by user

In [ ]:
a=int(input('Enter an integer lessthan 24 :'))
if a < 24 :
  #pass
  print("Entered a correct value")
elif a<50:
  print("Entered value morethan 50")
else:
  print("Please enter value lessthan 24")

KeyboardInterrupt: Interrupted by user

In [ ]:
salary = int(input("Enter your salary :"))
if salary >10000 :
  print("you can buy a bike")
elif salary >20000:
  print("you can buy a car")
else:
  print ("Wait for your salary increment")

Enter your salary :10000
Wait for your salary increment

In [ ]:
salary = int(input("Enter your salary :"))
if salary > 10000 :
  print("you can buy a bike")
elif salary > 20000:
  print("you can buy a car")
  if salary < 50000:
    print("go for maruthi")
  elif salary > 100000:
    print("go for bmw")

else:
  print ("Wait for your salary increment")

Enter your salary :10001
you can buy a bike

In [ ]:
a=10
b=20
#comparision operator & AND operator
if a==11 and b==21 :
  print("this is a valid statement")
elif a<11 and b<21 :
    print("Valid statement inside elif")
else:
  print("Not a valid condition statement")

Valid statement inside elif

In [ ]:
a=10
b=20
#comparision operator & OR operator
if a==10 or b < 20 :
  print("this is a valid statement")
elif a<11 and b<21 :
    print("Valid statement inside elif")
else:
  print("Not a valid condition statement")

this is a valid statement

In [ ]:
a=input("Enter value of a:")
b=input("Enter value of b:")

if a==b:
  print("Strings are equal")
else:
  print("Strings are not equal")

KeyboardInterrupt: Interrupted by user

In [ ]:
#working of while loop
initial_speed= 0
final_speed = 100
count = 1
while initial_speed < final_speed :
  print("speed")
  count = count +1
  if count == 10:
    break

speed
speed
speed
speed
speed
speed
speed
speed
speed

In [ ]:
i=1
j=5
while i<j:
  print(i)
  i=i+1

1
2
3
4

In [ ]:
#while else condition
notes = 5
i = 1
while i< notes :
  print(i)
  i +=1
else :
  print("end")

1
2
3
4
end

In [ ]:
#while else condition
notes = 5
i = 1
j = 1
while i< notes :
  print(i)
  i +=1
else :
  while j< notes :
    print(j)
    j +=1

1
2
3
4
1
2
3
4

In [ ]:
#string operations
s = "Jhon"
s [0]
s[3]
s[20]

IndexError: string index out of range

In [ ]:
j = "my name is robert"
j[3:7]

'name'

In [ ]:
j = "my name is robert"
j[3:7:2] #starting_index:stop_index(always_excludes):Step_size

'nm'

In [ ]:
#string reversal
j = "my name is robert"
j[7:2:-1] #starting_index:stop_index(always_excludes):Step_size

' eman'

In [ ]:
#complete string reversal
j[::-1]

'trebor si eman ym'

In [ ]:
#For loop

for i in j:
  print(i)

m
y

n
a
m
e

i
s

r
o
b
e
r
t

In [ ]:
for i in j:
  if i == 's':
    print("I have got s valuse")
  print(i)

m
y

n
a
m
e

i
I have got s valuse
s

r
o
b
e
r
t

In [ ]:
#For else loop
for i in j:
  print(i)
else :
    print("This is a else condition")

m
y

n
a
m
e

i
s

r
o
b
e
r
t
This is a else condition

In [ ]:
#After successful completion of for loop only else loop executes otherwise wont.
for i in j:
  if i == 'n':
    break
  print(i)
else :
    print("This is a else condition")

m
y

In [ ]:
m = "This was Hyderabad"
s=""
for i in range(len(m)):
  if m[i] == "a":
    continue
else:
  s = s + m[i]

In [ ]:
s

'd'

In [ ]:
#nested for loop

m = 9
for i in range(0,m):
  for j in range (0,i+1):
    print("* " , end=" ")
  print("\r")

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *

In [ ]:
m = 9
for i in range(0,m):
  for j in range (0,m+1):
    print("* " , end=" ")
  print("\r")

*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *

In [ ]:
m = int(input("Enter the value of m:"))

for i in range(m,0,-1):
  for j in range (m-i):
    print(" ",end="")

  for j in range(2*i-1):
    print("*", end="")
  print( )

Enter the value of m:9
*****************
 ***************
  *************
   ***********
    *********
     *******
      *****
       ***
        *

In [ ]:
#list datatype
l =list()
type(l)


#declaration of variables
Name = "Jhon"
Number = 959659
City = "HYD"

Name2, Number2, City2 = "Robert", 595656, "Chennai"

#declaring multiple variables into single variable datatype

l=["Anderson", 653565, "Delhi", 26+1j, 25.26, True, [1,2,3,"Tommy",25.22]]
l

['Anderson', 653565, 'Delhi', (26+1j), 25.26, True, [1, 2, 3, 'Tommy', 25.22]]

In [ ]:
l[1]

653565

In [ ]:
#checking the datatypes of objects in list
for i in l:
  print(type(i))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'complex'>
<class 'float'>
<class 'bool'>
<class 'list'>

In [ ]:
#to get the datatypes of a list inside a list
for i in l:
  if type(i) == list :
    for j in i:
      print(type(j))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
#code to get the string inside list inside a list
for i in l:
  if type(i) == list :
    for j in i:
      if type(j)==str:
        print(j)

Tommy

In [ ]:
#string manipulations

s="My name is vishnu and im from Madanapalli"
s

'My name is vishnu and im from Madanapalli'

In [ ]:
s[0]

'M'

In [ ]:
s[-1]

'i'

In [ ]:
len(s)

41

In [ ]:
s[100]

IndexError: string index out of range

In [ ]:
s[4:40:2]

'aei ihuadi rmMdnpl'

In [ ]:
s[-1:-10:1]

''

In [ ]:
s[-1:-10:-1]

'illapanad'

In [ ]:
for i in s:
  print(i)

M
y

n
a
m
e

i
s

v
i
s
h
n
u

a
n
d

i
m

f
r
o
m

M
a
d
a
n
a
p
a
l
l
i

In [ ]:
#string reversal
for i in range(len(s)):
  print(s[i-1])

NameError: name 's' is not defined

In [9]:
t=("a",1,1.5,22+5j)

In [ ]:
type(t)

tuple

In [ ]:
t(1)

TypeError: 'tuple' object is not callable

In [ ]:
t[1]

1

In [11]:
t[1] + "vishnu"
#tuple is immutable collection

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
3 in t

False

In [17]:
t.index(1)
#index of value 1

1

In [19]:
#count 0f value 1 in given tuple
t.count(1)

1

In [29]:
#Data insertion into tuples as they were immutable converting them into list and performing insertion and again converting into tuple

#convertion of tuples into list
t1=t
l=list(t1)
type(l)

#inserting data into list
l.insert(3,3)

#converting list into tuple
t3=tuple(l)
t3

('a', 1, 1.5, 3, (22+5j))

In [45]:
#nested tuples

f=(2,3,4.5,33+5j,(3.4,2,4),"jhon")
f[4]

(3.4, 2, 4)

In [35]:
for i in f:
  print(i)

2
3
4.5
(33+5j)
(3.4, 2, 4)

In [40]:
for i in f:
  if type(i)==tuple:
    print(i[0])

3.4

In [43]:
if len(t)==len(f):
  print("same")
else:
  print("not same")

not same

In [47]:
#code to check the value given is exists in F tuple or not
i=input("Enter a value :")

if i in f :
  print("This character exists in f tuple")
else:
  print("It doent exist in f tuple data set")

Enter a value :#set
It doent exist in f tuple data set

In [51]:
#set is data collection which always allows to store a un ordered distinct data in it

x=set()
type(x)

set

In [53]:
l=[1,1,13.4,"vish","vish"]
type(l)

list

In [58]:
#eliminating duplicates by using set principles for a list

set(l)
s=set(l)

In [60]:
for i in s:
  print(i)

vish
1
13.4

In [64]:
s.add(45)
s

{1, 13.4, 45, 'vish'}

In [67]:
s.remove(45)
s

{1, 13.4, 'vish'}