<a href="https://colab.research.google.com/github/vishnuvardhan-g/Python_tasks/blob/main/Python_Data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Variables

var=10
type(var)

int

In [ ]:
string="Vishnu"
String1='Vishnu'

print(string)
print(String1)

Vishnu
Vishnu

In [ ]:
#keywords
#def, else, if, return, continue, break, finally, from, lambda, export, none, import

a=4
b=4
c=a+b
c

8

In [ ]:
def func_sum(a,b):
  c=a+b
  return c

func_sum(4,5)

9

In [ ]:
func_sum(14,15)

29

In [ ]:
#type casting

a=10
type(a)

int

In [ ]:
float(a)

10.0

In [ ]:
b=2.5
type(b)

float

In [ ]:
int(b)

2

In [ ]:
var=22+15j

str(var)

'(22+15j)'

In [ ]:
variable=45

variable2=str(variable)
type(variable2)

str

In [ ]:
str="2.5"
int_var=int(float(str))
type(int_var)
print(int_var)

2

In [ ]:
x=3.5
print(float(int(x)))

3.0

In [ ]:
print(4 % (1+9) ** 2 -60 // (7+2))

-2

In [ ]:
#string operations

firstname = "Jhon"
lastname = "Carter"

print(firstname + lastname)
print(firstname + " " + lastname)

JhonCarter
Jhon Carter

In [ ]:
string="Hello World"

#String[start:end:step]
string_slicing=string[:6]
print(string_slicing)

print("World" in string)

print(string*2)

Hello
True
Hello WorldHello World

In [ ]:
var = "Hey there, this is hyderabad"

print(var.upper())
print(var.lower())

HEY THERE, THIS IS HYDERABAD
hey there, this is hyderabad

In [ ]:
var = "   Hey there, this is hyderabad      "

#strip removes white spaces
print(var)
print(var.rstrip())
print(var.lstrip())
var1 = var.rstrip()
var2=var1.lstrip()
print(len(var))
print(len(var1))
len(var2)

   Hey there, this is hyderabad
   Hey there, this is hyderabad
Hey there, this is hyderabad
37
31

28

In [ ]:
text="******Hi There#######"

print(text)
#removing the specific characters
new_text = text.rstrip("#").lstrip("*")
print(new_text)

******Hi There#######
Hi There

In [ ]:
#data structures

#list
l = [1,22.5,33+23j,[2,"vish",5]]
type(l)

list

In [ ]:
#tuple
t=(1,2.5,13+24j,9,("vish",23,2.5))
type(t)

#extracting data tuple inside a tuple
t[4][2]

2.5

In [17]:
#to define empty tuple
t3=()
type(t3)

tuple

In [ ]:
#set
s={1,2.5,24+24j,"vish"}
type(s)

set

In [6]:
#set - converting list nto set and set wont allow duplicate values
l = [1,2,3,4,5,7,8,5]
type(l)
set1=set(l)
print(len(set1))
print(len(l))

7
8

In [12]:
set2 = {1,2,3,4.5,2,2,1}
type(set2)
print(set2)

{1, 2, 3, 4.5}

In [18]:
#to define empty set
set4={}
print(type(set4))

set5=set({})
print(type(set5))

<class 'dict'>
<class 'set'>

In [27]:
#set operations
new_set = {1,2,3,4.5,2,2,1}
new_set.add("india")
new_set

{1, 2, 3, 4.5, 'india'}

In [29]:
new_set.remove("india")
new_set

KeyError: 'india'

In [31]:
A={0,2,4,6,8}
B={1,2,3,4,5}

In [34]:
#union
print(A | B)
print(A.union(B))
print(len(A.union(B)))

{0, 1, 2, 3, 4, 5, 6, 8}
{0, 1, 2, 3, 4, 5, 6, 8}
8

In [36]:
#intersection
print(A&B)
print(A.intersection(B))
print(len(A&B))

{2, 4}
{2, 4}
2

In [39]:
#difference
print(A-B)
print(A.difference(B))

{0, 8, 6}
{0, 8, 6}

In [42]:
#symmentric difference except common values
print(A^B)

{0, 1, 3, 5, 6, 8}

In [49]:
#write a code to get matched values from both lists and sort them

list1=[1,2,3,4,5,6]
list2=[2,4,6,8,0,5]

set1=set(list1)
set2=set(list2)

set3=set1 & set2
list4=list(set3)
print(sorted(list4))

[2, 4, 5, 6]

In [51]:
#dictonaries
d1={"india":"INR",
    "USA":"USD",
    "HONGKONG":"HKD"}

#accessing values using keys
d1["india"]

'INR'

In [55]:
#Updating the value of a key

d1["USA"] = "DOLLAR"
d1

{'india': 'INR', 'USA': 'DOLLAR', 'HONGKONG': 'HKD'}

In [57]:
#inserting a new value or record
d1["Japan"]="YEN"
d1

{'india': 'INR', 'USA': 'DOLLAR', 'HONGKONG': 'HKD', 'Japan': 'YEN'}

In [59]:
#delete a key value pair
del d1["HONGKONG"]
d1

KeyError: 'HONGKONG'

In [62]:
#sorting of dictonaries
sorted(d1)

['Japan', 'USA', 'india']

In [69]:
#values() method

d1.values()
print(d1.values())
var1=d1.values()
type(var1)

dict_values(['INR', 'DOLLAR', 'YEN'])

dict_values

In [71]:
#keys() method

d1.keys()
print(d1.keys())
var1=d1.keys()
type(var1)

dict_keys(['india', 'USA', 'Japan'])

dict_keys

In [74]:
#get() method

d1.get("india")

'INR'

In [78]:
#update() method

d1.update({"india":'Rupee'})
d1

{'india': 'Rupee', 'USA': 'DOLLAR', 'Japan': 'YEN'}

In [ ]:
1:30